$barlow: 'Barlow Condensed', sans-serif;
$crimson: 'Crimson Text', serif;
$absolute: absolute;
$relative: relative;

.nav-item {
    padding: 0 27px;
}

.nav-item .nav-link {
    font-family: $barlow;
    font-size: 20px;
    padding: 0 30px;
}

.header {
    position: $relative;
    width: 100%;
}

.header-title h1 {
    position: $absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #fff;
    top: 100px;
    font-family: $crimson;
    font-size: 5rem;
    width: 100%;
}

.header-cta {
    position: $absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    text-align: center;
}

.header-cta button {
    padding: 15px 50px;
    background: #f2c46d;
    font-family: $barlow;
    font-size: 20px;
}

.menu-section-title h1 {
    font-family: $crimson;
    font-size: 2.7rem;
}

.menu-section-description {
    max-width: 700px;
    margin: 0px auto;
}

.menu-section-description p {
    font-family: $barlow;
    font-size: 1.2rem;
    font-weight: 100;
}


.menu-section-gallery-overlay {
    position: $relative;
    width: 100%;
}

.menu-section-gallery-title {
    position: $absolute;
    width: 100%;
    background: #0000004f;
    height: 100%;
}

.menu-section-gallery-title h3 {
    position: $absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #fff;
    font-family: $barlow;
    font-weight: 400;
    text-transform: uppercase;
}

.menu-section-extraction-title {
    max-width: 560px;
    margin: 0 auto;
}

.menu-section-extraction-title h1 {
    font-family: $crimson;
    font-size: 2.7rem;
}

.menu-section-extraction-description {
    max-width: 730px;
    margin: 0 auto;
}

.menu-section-extraction-description p {
    font-family: $barlow;
    font-size: 1.2rem;
    font-weight: 100;
}

.menu-section-extraction-cta button {
    padding: 10px 35px;
    background: #f2c46d;
    color: #fff;
    font-family: $barlow;
    font-size: 1.2rem;
}

.benefit-section-title h1 {
    font-family: $crimson;
    font-size: 2.7rem;
}

.benefit-container {
    margin-top: 4rem;
    background: #dfdfdf;
    padding: 4rem  0 6rem 0;
}

.benefit-section-icon-title h5 {
    font-family: $barlow;
    font-weight: 400;
    font-size: 1.4rem;
}

.benefit-icon-battery {
    max-width: 45px;
}

.benefit-icon-sun {
    max-width: 50px;
    margin-top: -25px;
}

.benefit-icon-weight {
    max-width: 50px;
    margin-top: -25px;
}

.blog-section {
    margin-top: 8rem;
}

.blog-section img {
    height: 470px;
}

.blog-section-content {
    padding: 50px;
}

.blog-section-content h5 {
    font-family: $barlow;
    font-size: 1.6rem;
    font-weight: 400;
}

.blog-section-title {
    max-width: 330px;
}

.blog-section-title h3 {
    font-family: $crimson;
    font-size: 2.2rem;
}

.blog-section-post-date p {
    font-family: $barlow;
}

.blog-section-description p {
    font-family: $barlow;
    font-size: 1.1rem;
    font-weight: 200;
}

.blog-section-description a {
    font-family: $barlow;
    color: #000;
    font-size: 1.1rem;
}

.blog-section-description a:hover {
    text-decoration: none;
    color: #000;
}

.footer-bg {
    background-color: #303030;
    padding: 4rem 0;
    margin: 6rem 0 0 0;
}

.footer-address p {
    color: #fff;
    font-family: $barlow;
    font-size: 1rem;
}

.footer-address a i{
    color: #fff;
    font-size: 25px;
}

.footer-newsletter p {
    color: #fff;
    font-size: 1.2rem;
    font-family: $barlow;
}

.footer-newsletter .input-group {
    width: 350px;
}

.footer-newsletter .input-group input, .footer-newsletter .input-group input::placeholder {
    background-color: transparent;
    color: #fff;
    font-family: $barlow;
}

.input-group button {
    font-family: $barlow;
    background-color: #f2c46d;
    color: #fff;
}

.fixed-top.scrolled {
    background-color: #000000ba !important;
    transition: background-color 200ms linear;
}